.comment-area {
  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    max-width: 800px;
    padding: 3rem 2rem;

    .title {
      margin: 0;
      text-align: center;
      font-size: 32px;
      font-weight: bold;
    }
    
    input, textarea {
      padding: 0.5rem 1rem;
      border: 2px solid #E8E9EB;
      border-radius: 20px;
      
      &:hover, &:focus, &:active {
        border-color: darken(#E8E9EB, 30%);
        outline: none;
      }
    }

    textarea {
      resize: none;
      min-height: 200px;
    }

    button {
      padding: 0.5rem 1rem;
      font-size: 18px;
      color: white;
      background-color: #E8E9EB;
      border: none;
      outline: none;
      cursor: pointer;
  
      &:hover {
        background-color: darken(#E8E9EB, 30%);
      }
    }
  }
}